.row {
    margin-left: 20px;
    color: white;
    margin-top: 20px;



    .row-container {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        box-sizing: border-box;
        padding: 15px;
        background-color: rgba(59, 59, 59, 0.075);
        height: 100%;
        padding: 1em;


        &::-webkit-scrollbar {
            display: none;
        }

        .row-item-poster {
            width: 100%;
            object-fit: cover;
            max-height: 120px; // This is what is limiting the width from behing huge. ["You're allowed to only be this tall. Now make the width as big as possible while keeping this height"]
            transition: transform 450ms;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                transform: scale(1.08)
            }


        }

        .large-poster {
            max-height: 250px;

            &:hover {
                transform: scale(1.09)
            }
        }



    }
}