.row {
    width: 100%;
    margin-bottom: 3em;
    position: relative;
    z-index: 2;

    .row-title {
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 3.125rem;
        margin-bottom: 1em;
    }

    .wrapper {
        position: relative;

        .container {
            margin-left: 3.125rem;
            margin-top: 0.625rem;
            display: flex;
            width: max-content;
            transform: translateX(0);
        }

        .slider-arrow {
            position: absolute;
            cursor: pointer;
            height: 11rem;
            width: 3.125rem;
            // margin: auto;
            top: 0;
            bottom: 0;
            z-index: 99;
            color: white;
            background-color: rgba(22, 22, 22, 0.658);

            &:hover {
                color: rgb(204, 204, 204);
            }

            &.slider-left {
                left: 0;
            }

            &.slider-right {
                right: 0;
            }
        }


    }
}