* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #0b0b0b;
}


.App {
    background-color: var(--main-color);
}



@import "./components/Row/row.scss";
@import "./components/Banner/banner.scss";
@import "./components/navbar/navbar.scss"